body {
    font-family: Helvetica, sans-serif;
    padding: 5% 15%;
    text-align: justify;
}

.fig {
    width: 350px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.fig-wide {
  max-width: 90%;
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}


.listing, .exercise, .style {
    /**Need to style**/
}

.figure-name {
  text-align: center;
  font-size: .85em;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.card {
  border: none;
}

.float-right {
  margin-left: 10px;
}
