code {
    color: black;
}

body {
    font-family: Helvetica, sans-serif;
    padding: 5% 20%;
    text-align: justify;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
}

h3 {
    font-size: 1.1em;
    font-weight: bold;
}

p {
    font-size: 1em;
}

.listing, .exercise, .style {
    /**Need to style**/
}

.figure-name {
  text-align: center;
  font-size: .85em;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.card {
  border: none;
  margin: auto;
}

.card-title {
    font-weight: bold;
}

.fig {
    width: 400px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    padding: 5%;
}

.fig-wide {
  max-width: 90%;
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.fig-long {
    width: auto;
    height: 275px;
    overflow: scroll;
}

video {
    width: 500px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    padding: 1% 5%;
}

.common-pitfalls, .style-points, .technical-insights {
    background: #DCDCDC;
    margin: 2%;
    padding: 2%;
    font-size: .95em;
    width: 450px;
}

/**.container {
#  width: 80%;
  margin: 20px auto;
  overflow: hidden;
}
.sidebar_L {
  background-color: #ffffe0;
  float: left;
  width: 30%;
  border:1px solid;
  margin:10px;
  padding:2px
}
.sidebar_R {
  background-color: #ffffe0;
  float: right;
  width: 30%;
  border:1px solid;
  margin:10px;
  padding:2px
}
#p {
#  margin: 1em 20px;
#}
ul { padding-left: 1.2em; }
table, th, td {
  border-collapse: collapse;
  padding: 15px;
}
.push {
  float: left;
  width: 0;
  margin: 1em 0 0 0;
}
@media screen and (max-width: 960px) {
  .sidebar {
    clear: left;
    width: 100%;
  }

}**/
