.container {
#  width: 80%;
  margin: 20px auto;
  background: #bada55;
  overflow: hidden;
}

.sidebar {
  background-color: #ff00ff;
  float: right;
  width: 40%;
}

p {
  margin: 1em 20px;
}

.push {
  float: left;
  width: 0;
  margin: 1em 0 0 0;
}

@media screen and (max-width: 960px) {
  .sidebar {
    clear: left;
    width: 100%;
  }

}
  